<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Phase 6</Name>
    <Version>1.0.0</Version>
    <Title>Phase 6 Installer</Title>
    <Publisher>Jannik</Publisher>
    <WizardStyle>Modern</WizardStyle>
    <InstallerWindowIcon>six.png</InstallerWindowIcon>
    <InstallerApplicationIcon>icon</InstallerApplicationIcon>
    <Logo>six.png></Logo>
    <TargetDir>@HomeDir@/Phase6</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://drive.google.com/drive/folders/1Hr_1XegGji8jh5BrTyH5a0-SHcLMIs-Q</Url>
            <Enabled>1</Enabled>
            <DisplayName>Phase6 repository</DisplayName>

            <Username>jannikgrabe</Username>
            <Password>chewinggum</Password>
        </Repository>
    </RemoteRepositories>
</Installer> 